<!DOCTYPE html>
<html>
  <head>
    <title>Edit Pending Park</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="home-body">
    <header class="home-header">
      <h1>Edit Pending Park</h1>
    </header>

    <nav class="home-nav">
      <a href="/admin">Back to Admin Dashboard</a>
    </nav>

    <main class="new-park-main">
      {{#if error}}
        <p class="error">{{error}}</p>
      {{/if}}
      
      <p id="edit-park-error" class="error form-msg"></p>
      <form method="post" action="/admin/parks/{{park._id}}/edit" class="new-park-form">
        <h2>Park Info</h2>

        <div>
          <label for="park_name">Park Name:</label>
          <input
            type="text"
            id="park_name"
            name="park_name"
            required
            value="{{park.park_name}}"
          />
        </div>

        <div>
          <label for="park_type">Park Type:</label>
          <select id="park_type" name="park_type" required>
            <option value="">-- Select Type --</option>
            <option value="run" {{#if isRun}}selected{{/if}}>Run</option>
            <option value="off-leash" {{#if isOffLeash}}selected{{/if}}>Off-Leash</option>
          </select>
        </div>

        <h2>Address</h2>

        <div>
          <label for="street_1">Street 1:</label>
          <input
            type="text"
            id="street_1"
            name="street_1"
            required
            value="{{park.address.street_1}}"
          />
        </div>

        <div>
          <label for="street_2">Street 2 (optional):</label>
          <input
            type="text"
            id="street_2"
            name="street_2"
            value="{{park.address.street_2}}"
          />
        </div>

        <div>
          <label for="city">City:</label>
          <input
            type="text"
            id="city"
            name="city"
            required
            value="{{park.address.city}}"
          />
        </div>

        <div>
          <label for="state">State:</label>
          <input
            type="text"
            id="state"
            name="state"
            required
            value="{{park.address.state}}"
          />
        </div>

        <div>
          <label for="zip_code">Zip Code:</label>
          <input
            type="text"
            id="zip_code"
            name="zip_code"
            required
            value="{{park.address.zip_code}}"
          />
        </div>

        <button type="submit">Save Changes</button>
      </form>
    </main>
    <script src="/public/js/editPark.js"></script>
  </body>
</html>
