<section class="parks-page">
    <div class="return-home">
            <a href="/home">Back to Homepage</a>
    </div>
    
    <div class="parks-list-container">
        <h1>{{title}}</h1>
        <link rel="stylesheet" href="/css/styles.css">

        {{#if parks}}
            <ul class="parks-list">
                {{#each parks}}
                    <li class="park-item">
                        <h2>
                            <a href="/parks/{{this._id}}" class="park-link">
                                {{this.park_name}}
                            </a>
                        </h2>

                        <p>
                            <strong>Type:</strong> {{this.park_type}}
                        </p>

                        {{#if this.address}}
                        <p>
                            <strong>Address:</strong>
                            {{this.address.street_1}}{{#if this.address.street_2}} {{this.address.street_2}}{{/if}}
                            {{this.address.city}}, {{this.address.state}} {{this.address.zip_code}}
                        </p>
                        {{/if}}

                        <h3>Rating Summary</h3>
                        {{#if this.average_overall}}
                            <p>
                                <strong>Overall Rating:</strong> {{this.average_overall}}/5
                            </p>
                        {{else}}
                            <p><em>No ratings yet</em></p>
                        {{/if}}

                        <hr />
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No parks to display.</p>
        {{/if}}
    </div>
</section>